body {
    font-family: sans-serif;
    font-size: 11pt;
    background-color: black;
}

/* ************************************************** */

#loader {
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
    margin: 50px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* ************************************************** */

#verselect {
    visibility: hidden;
    float: right;
    font-size: 12pt;
}

#content {
    color: #fff;
}

.header {
    font-size: 14pt;
}

.mechset {
    clear: both;
    background-color: #030;
    color: #000;
    margin: 10px;
    padding: 6px;
}

.mech {
    background-color: #fff;
    width: 25em;
    border: 1px solid black;
    margin: 6px;
    display: inline-block;
    min-height: 6em;
}

.mech table {
    font-size: 11pt;
    table-layout: auto;
    width: 100%;
    .padding: 10px 30px 15px;
    padding: 10px;
    border-spacing: 0;
}

.mech table tr {
    background-color: #eee;
}

.mech table tr:nth-child(even) {
    background-color: #ddd;
}

.mech table td {
    padding: 2px 4px;
}

.mechname {
    font-weight: bold;
    font-size: 12pt;
    padding: 4px 6px;
    .border-bottom: 1px solid #999;
}

.mechinfo {
    padding: 2px 4px;
    float: right;
}

.mech table td.quirkname {
    text-align: left;
    padding-left: 14px;
}

.mech table td.quirkvalue {
    text-align: right;
    padding-right: 14px;
}

.nothing {
    background-color: #fff;
    .font-style: italic;
    font-size: 10pt;
    color: #ccc;
    text-align: center;
}
