body {
    font-family: sans-serif;
    font-size: 11pt;
    background-color: black;
    color: #fff;
}

/* ************************************************** */

#loader {
    z-index: 1;
    position: fixed;
    left: 45%;
    top: 50px;
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
    margin: 50px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* ************************************************** */

#mechlist {
    height: 90%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 80px;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-size: 12pt;
}

#mechlist p {
    margin: 0 6px 10px;
    color: #999;
}

#mechlist ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-top: 1px solid #222;
    font-size: 13pt;
    font-weight: bold;
}

#mechlist ul li {
    padding: 6px 8px;
    margin: 0;
    border-bottom: 1px solid #222;
    cursor: pointer;
    color: #999;
}

#mechlist ul li:hover {
    background-color: #115;
}

#mechlist ul li.active {
    background-color: #442;
}

#mechlist ul li.active:hover {
    background-color: #335;
}

#content {
    margin-left: 160px;
}

#header {
    height: 60px;
    font-size: 14pt;
}

#header select {
    font-size: 14pt;
}

.mechset {
    clear: both;
    background-color: #000;
    color: #fff;
    margin: 10px;
    padding: 6px;
    font-size: 11pt;
}

.mech {
    background-color: #010;
    width: 32em;
    border: 1px solid #aaa;
    margin: 6px;
    display: inline-block;
    min-height: 10em;
}

.mech table {
    font-size: 11pt;
    table-layout: auto;
    width: 100%;
    .padding: 10px 30px 15px;
    padding: 10px;
    border-spacing: 0;
}

.mech table tr {
    background-color: #555;
}

.mech table tr:nth-child(even) {
    background-color: #333;
}

.mech table td {
    padding: 2px 4px;
}

.mechname {
    font-weight: bold;
    font-size: 12pt;
    padding: 4px 6px;
    .border-bottom: 1px solid #999;
}

.mechinfo {
    padding: 2px 4px;
    float: right;
}

.mech table td.quirkname {
    text-align: left;
    padding-left: 14px;
    width: 20em;
}

.mech table td.quirkvalue {
    text-align: center;
    padding-right: 14px;
}

.nothing {
    background-color: #000;
    .font-style: italic;
    font-size: 10pt;
    color: #ccc;
    text-align: center;
}
